# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/myvenv
/__init__.pyc
/settings.pyc
/wsgi.pyc
*.pyc